
# 26 - [Formal Verification](./Formal%20Verification.md)

Formal Verification [Formal verification](https://en.wikipedia.org/wiki/Formal`verification) is the act of proving or disproving the correctness of intended  algorithms underlying a system with respect to a certain formal specification or property, using formal methods of mathematics 

1.  Formal verification is effective at detecting complex bugs which are hard to detect manually or using simpler automated tools
2.  Formal verification needs a specification of the program being verified and techniques to translate/compare the specification with the actual implementation
3.  [Certora’s](https://www.certora.com/) Prover and ChainSecurity’s [VerX](http://verx.ch/) are examples of formal verification tools for smart contracts. [KEVM](https://github.com/kframework/evm-semantics) from Runtime Verification Inc is a formal verification framework that models EVM semantics.
___
## Slide Screenshot
![026.png](../../images/6.Audit%20Techniques%20and%20Tools%20101/026.png)
___
## Slide Text
- 
___
## References
- [Youtube Reference](https://youtu.be/QstpNY1IuqM?t=429)
___
## Tags
